<h1>
	<ul>
		<li>Pirate Name: <%= @pirate.name %></li>
		<li>Pirate Weight: <%= @pirate.weight %></li>
		<li>Pirate Height: <%= @pirate.height %></li>
	</ul>
</h1>


<h2>
	<ul>
		<li>First Ship Name: <%= @ship_1.name %></li>
		<li>First Ship Type: <%= @ship_1.type %></li>
		<li>First Ship Booty: <%= @ship_1.booty %></li>
	</ul>
</h2>


<h2>
	<ul>
		<li>Second Ship Name: <%= @ship_2.name %></li>
		<li>Second Ship Type: <%= @ship_2.type %></li>
		<li>Second Ship Booty: <%= @ship_2.booty %></li>
	</ul>
</h2>
