<h1>About <%= @pirate.name %></h1>
<h2> 
    Weight: <%= @pirate.weight %>
    Height: <%= @pirate.height %>
</h2> 

<h1><%= @pirate.name %>'s Ships</h1>
<h2>
  <% @ships.each do |ship| %>
  <%= ship.name %>
  <%= ship.type %>
  <%= ship.booty %>
  <% end %>
</h2>
